<!-- $header-->
<header class="header">
    <div class="header-left">
        <!-- $logo -->
        <a href="/{% if panel == 'admin' %}admin{% endif %}" title="HETIC logo"class="logo">
            <svg class="logo-icon" viewBox="0 0 228.2 231.3">
                <g>
                    <path d="M228.2 21c0 70.4 0 140.2 0 210.3 -70 0-139.7 0-210 0 -0.1-2.1-0.3-4.2-0.3-6.2 0-32.5-0.1-65 0.1-97.5 0-4.2-0.8-6.8-5-9C4.1 114-0.3 106.2 0 96.1c0.3-9.6 4.7-17 13.2-21.3 3.8-1.9 4.8-4.2 4.7-8.1 -0.2-13.2-0.1-26.3-0.1-39.5 0-1.8 0-3.6 0-5.9 2.5-0.1 4.4-0.3 6.3-0.3 17.7 0 35.3-0.1 53 0.1 3.7 0 5.6-0.9 6.9-4.6C87.7 5.8 96.4 0 107.7 0c11 0 20 6.1 23.5 16.7 1.2 3.7 3.1 4.4 6.5 4.4 27.8-0.1 55.6-0.1 83.5-0.1C223.3 21 225.4 21 228.2 21zM169.5 121c0 9.4 0.2 17.9-0.1 26.4 -0.1 3.8 1 5.9 4.7 7.5 11.1 4.7 16.5 15.9 14.2 28.4 -1.8 9.8-11.7 18.6-21.7 19.2 -12.4 0.8-22.9-5.8-26.5-16.8 -3.6-11 0.1-24.3 10.5-28.9 8.2-3.7 9-8.7 8.3-15.9 -0.2-1.6-0.1-3.3 0-5 0.2-3.1-1-4.5-4.3-4.4 -5.2 0.2-10.4-0.3-15.5 0.2 -2.7 0.3-5.8 1.3-7.8 3.1 -12.6 11-31 12.7-43.5 1.9 -6.1-5.3-12.1-5-18.8-5.1 -3-0.1-3.7 1.3-3.6 4 0.1 7.8 0.3 15.7-0.1 23.5 -0.2 4.5 1.1 6.6 5.5 8.3 12.1 4.6 18 17.7 14.4 30.3 -3.1 10.8-15.4 19.3-26 17.8 -12.6-1.7-21.1-9.9-23.1-22.1 -1.7-10.4 4.3-20.9 15.2-26.1 2.7-1.3 3.5-2.9 3.5-5.8 -0.1-11.5-0.1-23 0-34.5 0-1.8 0.2-3.6 0.3-6.1 6.9 0 13.4 0 19.9 0 -0.4-6.2-0.7-11.6-1-17.9 -6.6 0-13.4 0.1-20.2 0 -3-0.1-4.8 0.9-6 3.9 -2.7 6.6-7.6 11.5-14.5 13.5 -4.4 1.2-5 3.6-5 7.5 0.1 28.8 0.1 57.7 0.1 86.5 0 6.7 0 6.8 6.9 6.8 58.5 0 117 0 175.5 0 7.1 0 7.1 0 7.1-7.2 0-58.3 0-116.6 0-175 0-1.2-0.1-2.3 0-3.5 0.1-2.7-1-3.8-3.8-3.8 -26.3 0.1-52.7 0-79 0.1 -1.4 0-3.5 1.3-4.1 2.5 -3 6.8-7.9 11.3-14.6 14.3 -1.3 0.6-2.7 2.5-2.8 3.9 -0.3 7-0.2 14 0 21 0 1.2 0.9 3 1.9 3.5 2.5 1.1 5.3 1.7 8.6 2.6 0-5.3 0-10.1 0-15.5 9.2 0 17.8-0.2 26.4 0.1 3.6 0.1 5.6-0.9 7.1-4.5 5.2-12.1 18.4-17.9 30.7-13.9 11.5 3.8 18.2 14.3 17.2 26.8 -0.9 10.6-9.9 20.1-20.9 21.9 -11.2 1.9-22.9-4.4-27.1-15.1 -1.5-3.9-3.4-5.3-7.3-4.8 -1.3 0.2-2.7 0-4 0 -12.4 0-12.8 0.4-11.2 12.8 0.2 1.7 1.1 3.5 2 5 3.6 6.1 5.1 12.6 4.6 19.6 -0.2 2.8-0.5 5.5-0.8 9.1 4.9 0 9.5 0 14.2 0C159.6 121 164.2 121 169.5 121zM56.1 31.5c-7.7 0-15.3 0.2-23-0.1 -3.8-0.1-4.9 1.3-4.8 4.9 0.2 10.5 0.2 21 0 31.4 0 2.8 0.8 4.2 3.6 4.9 8.2 2.3 13.9 7.7 16.6 15.8 1 3 2.7 3.7 5.5 3.6 7.2-0.2 14.3 0.2 21.5-0.2 2-0.1 4.4-1.3 5.7-2.8 5-5.7 10.9-9.6 18-12 1.5-0.5 3.4-2.7 3.5-4.2 0.4-6.6 0.3-13.3 0-19.9 -0.1-1.5-1.6-3.7-3-4.2 -7.1-2.6-12-7.4-15.4-14.1 -0.8-1.5-3.1-2.9-4.7-3C71.7 31.4 63.9 31.5 56.1 31.5zM85.4 110c0 12.6 10.1 22.9 22.6 23 12.4 0.1 23-10.3 23-22.7 0.1-12.7-10.5-23.4-23-23.3C95.4 87.1 85.4 97.3 85.4 110zM39 96.7c0-7.9-6.5-14.3-14.3-14.1 -7.5 0.1-14 6.6-14.1 14.1 -0.1 7.4 6.8 14.4 14.3 14.4C32.7 111.1 39.1 104.6 39 96.7zM180.6 55.5c-8-0.1-14.3 6.1-14.3 14.1 0 7.8 6.5 14.5 14.2 14.4 7.2-0.1 14-6.8 14.3-14.1C195 62.2 188.4 55.5 180.6 55.5zM107.4 39.1c7.6 0.1 14.4-6.7 14.4-14.3 0-7.6-6.8-14.3-14.4-14.3 -7.5 0.1-13.9 6.5-14 14C93.3 32.3 99.8 39 107.4 39.1zM164 163.5c-7.8-0.1-14.5 6.4-14.5 14.1 0 7.5 7 14.5 14.4 14.4 7.6-0.1 13.9-6.5 14.1-14C178.2 170 171.9 163.5 164 163.5zM61.2 204.2c7.9 0 14.3-6.4 14.2-14.1 -0.1-7.5-6.4-13.9-14-14.1 -7.7-0.2-14.4 6.3-14.5 14.1C46.9 197.8 53.3 204.2 61.2 204.2z"/>
                </g>
            </svg>
            <span class="logo-name">Bibliothétic</span>
        </a>

        {% if user != '' %}
        <!-- $navigation -->
        {% if panel != 'admin' %}
            <ul class="navigation">
                <li class="links">
                    <a href="/" class="link {% if page =='index' %} active {% endif %}">Catalogue</a>
                </li>
                <li class="links">
                    <a href="/faq" class="link {% if page =='faq' %} active {% endif %}">FAQ</a>
                </li>
                <li class="links">
                    <a href="/contact" class="link {% if page =='contact' %} active {% endif %}">Contact</a>
                </li>
            </ul>
        {% endif %}
        {% if panel =='admin' %}
            <ul class="navigation">
                <li class="links">
                    <a href="/admin" class="link {% if page =='index' %} active {% endif %}">Catalogue</a>
                </li>
                <li class="links">
                    <a href="/admin/ajouter-un-livre" class="link {% if page =='add-book' %} active {% endif %}">Ajouter un livre</a>
                </li>
                <li class="links">
                    <a href="/admin/utilisateurs" class="link {% if page =='users' %} active {% endif %}">Utilisateurs</a>
                </li>
                <li class="links">
                    <a href="/admin/statistiques" class="link {% if page =='stats' %} active {% endif %}">Statistiques</a>
                </li>
            </ul>
        {% endif %}
    </div>

    <div class="header-right">
        <!-- $personal -->
        <div id="{{ user.id }}" class="user">
                <div class="user-name">{{ utf8(user.first_name) ~ ' ' ~ utf8(user.last_name) }}</div>
                {% if panel !='admin' %}
                <a href="/historique" class="history">
                    <span>Voir l'historique des livres empruntés ></span>
                    <span>Historique ></span>

                </a>
                {% endif %}
                {% if panel == 'admin' %}
                    <a href="/" class="history">
                        <span>Quitter l'admin panel ></span>
                        <span>Quitter ></span>
                    </a>
                {% endif %}
        </div>


        <div class="personal">
            {% if panel !='admin' %}
            <span id="{{ user.current_book }}" class="book {% if user.current_book %}active" onclick="currentBook(id = {{ user.current_book }})"{% endif %}">
                <svg class="book-icon" viewBox="0 0 245.5 270">
                    <path d="M245.5 0c0 3.9 0.1 7.5-0.1 11.2 0 0.7-1.3 1.6-2.1 1.9 -5.8 2.1-10.1 5.8-12.1 11.7 -2.2 6.5-0.9 12.5 3.4 17.8 0.6 0.7 1.2 1.3 2.1 2.4 -3.9 0-7.4 0.1-10.8-0.1 -0.6 0-1.5-1-1.8-1.7 -4.6-9.2-4.1-18.3 1.2-27.1 0.7-1.1 1.5-2.2 2.5-3.6 -1-0.1-1.8-0.2-2.5-0.2 -64.5 0-129 0-193.5 0 -7.9 0-14.1 3.2-17.6 10.4 -3.3 6.8-2.5 13.3 2 19.3 3.3 4.3 7.8 6.7 13.2 7 1.2 0.1 2.5 0.1 3.7 0.1 69.6 0 139.1 0 208.7 0 1.1 0 2.1 0 3.4 0 0 73.6 0 147.1 0 220.8 -0.9 0-1.8 0.1-2.6 0.1 -70.4 0-140.8 0-211.2 0 -15.7 0-28.1-10.2-31-25.5 -0.4-2.3-0.5-4.6-0.5-7 0-68.4 0-136.8 0-205.2 0-16 9.1-28 23.9-31.5C26.4 0.3 29 0 31.6 0 102 0 172.4 0 242.8 0 243.6 0 244.4 0 245.5 0z"/>
                </svg>
                <svg class="book-icon-open" viewBox="0 0 318.336 318.336">
                    <path d="M302.137 74.432h-21.031c-30.496-13.614-56.389-20.611-77.028-20.611 -26.731 0-39.245 11.649-44.906 20.535 -5.658-8.886-18.17-20.535-44.906-20.535 -20.638 0-46.533 7.003-77.037 20.611H16.2c-8.946 0-16.2 7.253-16.2 16.2v157.684c0 8.949 7.254 16.2 16.2 16.2h285.937c8.948 0 16.199-7.251 16.199-16.2V90.632C318.336 81.686 311.085 74.432 302.137 74.432zM154.786 84.265c-0.048 0.25-0.069 0.503-0.069 0.757V233.74c-7.084-8.18-18.95-14.438-38.804-14.438 -35.44 0-79.927 19.432-95.813 26.947V91.528c13.608-6.927 26.31-12.587 38.156-17.096 21.745-8.271 40.526-12.511 56.004-12.511 18.992 0 29.37 6.354 34.986 12.511 3.241 3.554 4.91 7.038 5.698 9.192C154.852 83.985 154.791 84.243 154.786 84.265zM298.234 246.249c-15.884-7.516-60.371-26.947-95.809-26.947 -19.859 0-31.72 6.254-38.805 14.438 -0.261 0.3-0.562 0.58-0.804 0.886V85.48c0.084-0.351 0.269-0.981 0.583-1.825 0.799-2.149 2.499-5.647 5.776-9.218 5.648-6.157 16.026-12.512 34.9-12.512 15.478 0 34.251 4.24 56.004 12.512 11.854 4.509 24.548 10.17 38.153 17.097V246.249L298.234 246.249z"/>
                </svg>
            </span>
            {% endif %}
            <a href="{{ url('deconnexion') }}">
                <button class="logout">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 447.674 447.674" style="enable-background:new 0 0 447.674 447.674;" xml:space="preserve">
                        <g>
                        	<g>
                        		<path d="M182.725,379.151c-0.572-1.522-0.769-2.816-0.575-3.863c0.193-1.04-0.472-1.902-1.997-2.566    c-1.525-0.664-2.286-1.191-2.286-1.567c0-0.38-1.093-0.667-3.284-0.855c-2.19-0.191-3.283-0.288-3.283-0.288h-3.71h-3.14H82.224    c-12.562,0-23.317-4.469-32.264-13.421c-8.945-8.946-13.417-19.698-13.417-32.258V123.335c0-12.562,4.471-23.313,13.417-32.259    c8.947-8.947,19.702-13.422,32.264-13.422h91.361c2.475,0,4.421-0.614,5.852-1.854c1.425-1.237,2.375-3.094,2.853-5.568    c0.476-2.474,0.763-4.708,0.859-6.707c0.094-1.997,0.048-4.521-0.144-7.566c-0.189-3.044-0.284-4.947-0.284-5.712    c0-2.474-0.905-4.611-2.712-6.423c-1.809-1.804-3.949-2.709-6.423-2.709H82.224c-22.648,0-42.016,8.042-58.101,24.125    C8.042,81.323,0,100.688,0,123.338v200.994c0,22.648,8.042,42.018,24.123,58.095c16.085,16.091,35.453,24.133,58.101,24.133    h91.365c2.475,0,4.422-0.622,5.852-1.854c1.425-1.239,2.375-3.094,2.853-5.571c0.476-2.471,0.763-4.716,0.859-6.707    c0.094-1.999,0.048-4.518-0.144-7.563C182.818,381.817,182.725,379.915,182.725,379.151z" fill="#fba8a2"/>
                        		<path d="M442.249,210.989L286.935,55.67c-3.614-3.612-7.898-5.424-12.847-5.424c-4.949,0-9.233,1.812-12.851,5.424    c-3.617,3.617-5.424,7.904-5.424,12.85v82.226H127.907c-4.952,0-9.233,1.812-12.85,5.424c-3.617,3.617-5.424,7.901-5.424,12.85    v109.636c0,4.948,1.807,9.232,5.424,12.847c3.621,3.61,7.901,5.427,12.85,5.427h127.907v82.225c0,4.945,1.807,9.233,5.424,12.847    c3.617,3.617,7.901,5.428,12.851,5.428c4.948,0,9.232-1.811,12.847-5.428L442.249,236.69c3.617-3.62,5.425-7.898,5.425-12.848    C447.674,218.894,445.866,214.606,442.249,210.989z" fill="#fba8a2"/>
                        	</g>
                        </g>
                    </svg>
                    <span>Déconnexion</span>
                </button>
            </a>
        </div>
        {% endif %}

    </div>
</header>
