<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ title(title) }}</title>
    <meta name="description" content="{{ description() }}">

    <!-- $favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-32x32.png') }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('img/favicons/favicon-16x16.png') }}" sizes="16x16">

    <!-- $css import -->
    <link href="{{ asset('css/app.min.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>

        {% block content %}{% endblock %}

        {% include 'partials/notification.twig' %}

</body>
</html>





